$css = <<<'CSS'

.og-grid img.medium-img {
    height: 240px;
}
/* Remove some default styling of component.css. */
.og-grid .og-details h3 {
    font-size: inherit;
    padding-top: 0;
    margin-top: 0;
}
.og-grid .og-details a {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    padding: inherit;
    border: inherit;
    display: inline-block;
    margin: inherit;
    outline: inherit;
}
.og-grid button,
.og-grid button img {
    padding: 0;
}
.og-grid .og-details a::before,
.og-grid .og-details button::before {
    content: '';
    display: inline-block;
    margin-right: inherit;
}
CSS;
