.search-results .resource-list {
    display: flex;
    flex-direction: column;
}

.search-results-header, .search-results-footer {
    margin: 0.4rem;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-results-header .search-results-display{
	border: solid 1px #ddd;
    border-radius: 4px;
    padding: 0 10px
}

.search-results-header .search-results-display .search-view-type-grid{
	/* background-color: red; */
}

a.search-view-type {
    height:20px;
}

a.search-view-type svg.icon{
    margin-right: 0;
}
